# Ignore these subdirectories:
venv/
.idea/
*/__pycache/


# Ignore these files:
config.*
scripts/analysis/db_connect.R

*.csv
*/*.csv
*/*/*.csv
*/*/*/*.csv


*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc

.Rproj.user
.Rhistory
.Rprofile
